<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.gridview_recyclerview">

    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">
        <activity android:name=".BrowseOnline"></activity>
        <activity
            android:name=".CustomRecipesList"
            android:label="Custom Recipes" />
        <activity
            android:name=".OwnRecipe"
            android:label="Recipe" />
        <activity
            android:name=".CreateRecipe"
            android:label="Create Recipe" />
        <activity
            android:name=".Favorites"
            android:label="Favorite Recipes" />
        <activity
            android:name=".InsideRecipeCategory"
            android:label="Recipes" />
        <activity
            android:name=".RecipeDetails"
            android:label="Recipe" />
        <activity
            android:name=".RecipeCategories"
            android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>